<a href="https://colab.research.google.com/github/yongjaeahn/python_coding/blob/main/korean/source/06_07_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

	딕셔너리

In [ ]:
subjects = ['국어','영어','수학']
scores = [95,100,90]

for i in range(len(subjects)):
  print(subjects[i],scores[i])

국어 95
영어 100
수학 90

In [ ]:
subjects = ['국어','영어','수학','과탐']
scores = [95,100,90]

for i in range(len(subjects)):
  print(subjects[i],scores[i])

국어 95
영어 100
수학 90

IndexError: ignored

In [ ]:
subjects = ['국어','영어','수학']
scores = [95,100,90,80]

for i in range(len(subjects)):
  print(subjects[i],scores[i])

국어 95
영어 100
수학 90

In [ ]:
scores = {'국어': 95,'영어': 100,'수학': 90,'과탐': 80}

for key, value in scores.items():
  print(key, value)

국어 95
영어 100
수학 90
과탐 80

In [ ]:
for key in scores.keys():
  print(key)

for value in scores.values():
  print(value)

국어
영어
수학
과탐
95
100
90
80

In [ ]:
scores = {}
print(type(scores))

<class 'dict'>

In [ ]:
print("요소 추가전 scores 사전 변수 :",scores)
scores['국어'] = 95
scores['영어'] = 100
scores['수학'] = 90
scores['과탐'] = 80
print("요소 추가후 scores 사전 변수 :",scores)

요소 추가전 scores 사전 변수 : {}
요소 추가후 scores 사전 변수 : {'국어': 95, '영어': 100, '수학': 90, '과탐': 80}

In [ ]:
dict_variable = {}
print("요소 추가전 dict_variable 사전 변수 :",dict_variable)
dict_variable[1] = "홍길동"
dict_variable[2] = "유관순"
dict_variable[3] = "강감찬"
print("요소 추가후 dict_variable 사전 변수 :",dict_variable)

요소 추가전 dictVariable 사전 변수 : {}
요소 추가후 dictVariable 사전 변수 : {1: '홍길동', 2: '유관순', 3: '강감찬'}

In [ ]:
print("국어 성적 :",scores['국어'])
scores['국어'] = 99
print("국어 성적 :",scores['국어'])
print("요소 변경후 scores 사전 변수 :",scores)

국어 성적 : 95
국어 성적 : 99
요소 변경후 scores 사전 변수 : {'국어': 99, '영어': 100, '수학': 90, '과탐': 80}

In [ ]:
print('국어가 scores 변수에 있나?','국어' in scores)
print('사탐이 scores 변수에 있나?','사탐' in scores)

국어가 scores 변수에 있나? True
사탐이 scores 변수에 있나? False

In [ ]:
del scores['국어']
print("요소 삭제후 scores 사전 변수 :",scores)

요소 삭제후 scores 사전 변수 : {'영어': 100, '수학': 90, '과탐': 80}

In [ ]:
dict_var = {"key1": "value3","key3":"value1","key2":"value2"}

print("정렬전 딕셔너리:",dict_var)
print("정렬후 딕셔너리:",sorted(dict_var))

정렬전 딕셔너리: {'key1': 'value3', 'key3': 'value1', 'key2': 'value2'}
정렬후 딕셔너리: ['key1', 'key2', 'key3']
정렬후 딕셔너리: ['key1', 'key2', 'key3']

In [ ]:
dict_var = {"key1": "value3","key3":"value1","key2":"value2"}

print("정렬전 딕셔너리:",dict_var)
print("정렬후 딕셔너리:",sorted(dict_var.items()))

정렬전 딕셔너리: {'key1': 'value3', 'key3': 'value1', 'key2': 'value2'}
정렬후 딕셔너리: [('key1', 'value3'), ('key2', 'value2'), ('key3', 'value1')]

In [ ]:
dict_var = {"key1": "value3","key3":"value1","key2":"value2"}

def sort_function(item):
  return item[1]

print("정렬전 딕셔너리:",dict_var)
print("정렬후 딕셔너리:",sorted(dict_var.items(),key=sort_function))

정렬전 딕셔너리: {'key1': 'value3', 'key3': 'value1', 'key2': 'value2'}
정렬후 딕셔너리: [('key3', 'value1'), ('key2', 'value2'), ('key1', 'value3')]

In [ ]:
dict_var = {"key1": "value3","key3":"value1","key2":"value2"}

print("정렬전 딕셔너리:",dict_var)
print("정렬후 딕셔너리:",sorted(dict_var.items(),key=lambda item: item[1]))

정렬전 딕셔너리: {'key1': 'value3', 'key3': 'value1', 'key2': 'value2'}
정렬후 딕셔너리: [('key3', 'value1'), ('key2', 'value2'), ('key1', 'value3')]

In [ ]:
print(dict(sorted(dict_var.items(),key=lambda item: item[1])))

{'key3': 'value1', 'key2': 'value2', 'key1': 'value3'}

In [1]:
dict_var = {"key1": "value3","key3":"value1","key2":"value2"}

print(list(dict_var))

['key1', 'key3', 'key2']