<a href="https://colab.research.google.com/github/yongjaeahn/python_coding/blob/main/source/korean/05_%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

	문자열 만들기

In [ ]:
print('문자열은 단일인용부호(\')부호로 감싸주거나 ' + "이중인용부호(\")로 감싸줍니다.")
print('English 한글 1234 ,.)[{')

문자열은 단일인용부호(')부호로 감싸주거나 이중인용부호(")로 감싸줍니다.
English 한글 1234 ,.)[{

In [ ]:
print("Tab으로\t\t맞추는 문자열")
print("탭(Tab)으로\t맞추는 문자열")

Tab으로		맞추는 문자열
탭(Tab)으로	맞추는 문자열

In [ ]:
print("새줄로 넘기기\n새줄")

새줄로 넘기기
새줄

In [ ]:
print("백슬래시(\\)출력")
print("이중인용부호 안의 단일인용부호(')")
print('단일인용부호 안의 이중인용부호(")')

백슬래시(\)출력
이중인용부호 안의 단일인용부호(')
단일인용부호 안의 이중인용부호(")

In [ ]:
multi_line_string = '''1번째 문자열
2번째 문자열
3번째 문자열'''
print(multi_line_string)

print("-"*12)

multi_line_string = """
2번째 문자열
3번째 문자열
"""
print(multi_line_string)

1번째 문자열
2번째 문자열
3번째 문자열
------------

2번째 문자열
3번째 문자열

In [ ]:
'''
단일인용부호를 사용한
여러줄 주석
'''
"""
이중인용부호를 사용한
여러줄 주석
"""

In [ ]:
print('일반 문자열은 \t, \n, \\, \', \" 등을 제어 문자로 인식합니다.')

일반 문자열은 	,
, \, ', " 등을 제어 문자로 인식합니다.

In [ ]:
print(r'Raw String은 \t, \n, \\, \', \" 등을 일반 문자로 인식합니다.')

Raw String은 \t, \n, \\, \', \" 등을 일반 문자로 인식합니다.

In [ ]:
project_folder = 'C:\\Users\\00320811\\Documents\\python_coding'
print(project_folder)
project_folder = r'C:\Users\00320811\Documents\python_coding'
print(project_folder)

C:\Users\00320811\Documents\python_coding
C:\Users\00320811\Documents\python_coding

In [ ]:
print(repr('repr() 함수는 \t, \n, \\, \', \" 등을 일반 문자로 인식합니다.'))
print(repr(123))

'repr() 함수는 \t, \n, \\, \', " 등을 일반 문자로 인식합니다.'
123

	문자열 연산

문자열 상수

In [ ]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
print(repr(string.whitespace))

' \t\n\r\x0b\x0c'

문자열 확인

In [ ]:
first_number = int(input("첫번째 숫자 : "))

In [ ]:
first_number = int(input("첫번째 숫자 : "))

첫번째 숫자 : 1O

ValueError: ignored

In [ ]:
first_number = input("첫번째 숫자 : ")

if first_number.isdecimal():
  first_number = int(first_number)
else:
  print('입력한',first_number,'를 정수형으로 변환할 수 없습니다.')

첫번째 숫자 : 1O
입력한 1O 를 정수형으로 변환할 수 없습니다.

대소문자 변환

In [ ]:
print('this is english sentense. this is 한글문장.'.capitalize())
print('subject score remark 타이틀'.title())

This is english sentense. this is 한글문장.
Subject Score Remark 타이틀

In [ ]:
print('Subject Score Remark 타이틀'.lower())
print('Subject Score Remark 타이틀'.upper())
print('Subject Score Remark 타이틀'.swapcase())

subject score remark 타이틀
SUBJECT SCORE REMARK 타이틀
sUBJECT sCORE rEMARK 타이틀

문자열 나누기와 합치기

In [ ]:
title_input = 'subject   score\t\n\r\x0b\x0cremark'
titles = title_input.title().split()
print(titles)

['Subject', 'Score', 'Remark']

In [ ]:
csv_input = '100,99,95,80,100'
print(csv_input.split(','))
txt_input = '홍길동\t유관순\t이순신'
print(txt_input.split('\t'))

['100', '99', '95', '80', '100']
['홍길동', '유관순', '이순신']

In [ ]:
titles = ['subject','score','remark']
print(  ''.join(titles))
print( ' '.join(titles))
print( ','.join(titles))
print('\t'.join(titles))
print(repr('\n'.join(titles)))

subjectscoreremark
subject score remark
subject,score,remark
subject	score	remark
'subject\nscore\nremark'

In [ ]:
web_text = '''Python은 문법이 매우 쉬워서 초보자들에게 추천되는 언어이다.
Python은 학습용으로 좋은 언어이다.\r동시에 실사용률과 생산성도 높은 언어이다.\r
오죽하면 python의 별명이 "Executable Pseudocode"일 정도이다.\r'''

text_lines = web_text.splitlines()
for text_line in text_lines:
  print(repr(text_line))

'Python은 문법이 매우 쉬워서 초보자들에게 추천되는 언어이다.'
'Python은 학습용으로 좋은 언어이다.'
'동시에 실사용률과 생산성도 높은 언어이다.'
'오죽하면 python의 별명이 "Executable Pseudocode"일 정도이다.'

In [ ]:
web_text = '''Python은 학습용 언어이다.\r
실사용률과 생산성도 높은 언어이다.\r'''

words = web_text.split()
print(words)

['Python은', '학습용', '언어이다.', '실사용률과', '생산성도', '높은', '언어이다.']

In [ ]:
!pip install konlpy

Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 37.5 MB/s eta 0:00:00
Collecting JPype1>=0.7.0 (from konlpy)
  Downloading JPype1-1.4.1-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.3/465.3 kB 33.7 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from konlpy) (4.9.3)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.10/dist-packages (from konlpy) (1.23.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from JPype1>=0.7.0->konlpy) (23.2)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.1 konlpy-0.6.0

In [ ]:
from konlpy.tag import Okt

okt = Okt()
words = okt.pos(web_text)
print(words)

[('Python', 'Alpha'), ('은', 'Noun'), ('학습', 'Noun'), ('용', 'Noun'), ('언어', 'Noun'), ('이다', 'Josa'), ('.', 'Punctuation'), ('\r\n', 'Foreign'), ('실', 'Noun'), ('사용', 'Noun'), ('률', 'Noun'), ('과', 'Josa'), ('생산', 'Noun'), ('성도', 'Noun'), ('높은', 'Adjective'), ('언어', 'Noun'), ('이다', 'Josa'), ('.', 'Punctuation'), ('\r', 'Foreign')]

문자열 변환

In [ ]:
print('대체할 문자열 대체할 문자열'.replace('대체할','대체된'))
print('대체할 문자열 대체할 문자열'.replace('대체할','대체된',1))

대체된 문자열 대체된 문자열
대체된 문자열 대체할 문자열

In [ ]:
text = "아차 실수\x0b아차차 또 실수\x0c".replace('\x0b',' ')
print(repr(text))
text = text.replace('\x0c','')
print(repr(text))

'아차 실수 아차차 또 실수\x0c'
'아차 실수 아차차 또 실수'

In [ ]:
import re

found_str_list = re.findall(r'패턴',"찾을 문자열 패턴은 바로 이 패턴입니다.")
print(found_str_list)

['패턴', '패턴']

In [ ]:
import re

found_str_list = re.findall(r'패턴.',"찾을 문자열 패턴은 바로 이 패턴입니다.")
print(found_str_list)

['패턴은', '패턴입']

In [ ]:
import re

found_str_list = re.findall(r'이 패턴.*다',"찾을 문자열 패턴은 바로 이 패턴입니다.")
print(found_str_list)

['이 패턴입니다']

In [ ]:
import re

substituted_text = re.sub(r'대체.','대체된',"대체할 문자열 패턴은 대체될 패턴으로 바뀝니다.")
print(substituted_text)

대체된 문자열 패턴은 대체된 패턴으로 바뀝니다.

In [ ]:
import re

web_text = '''Python은 학습용으로 좋은 언어이다.\r
동시에 실사용률과 생산성도 높은 언어이다.\r
Python은 문법이 매우 쉬워서 초보자들에게 추천되는 언어이다.
오죽하면 python의 별명이 "Executable Pseudocode"일 정도이다.\r'''자

web_text = re.sub('[^0-9a-zA-Z가-힣 \n]',' ',web_text)
print(web_text)
print(repr(web_text))

Python은 학습용으로 좋은 언어이다
동시에 실사용률과 생산성도 높은 언어이다
Python은 문법이 매우 쉬워서 초보자들에게 추천되는 언어이다
오죽하면 python의 별명이  Executable Pseudocode 일 정도이다
'Python은 학습용으로 좋은 언어이다  \n동시에 실사용률과 생산성도 높은 언어이다  \nPython은 문법이 매우 쉬워서 초보자들에게 추천되는 언어이다 \n오죽하면 python의 별명이  Executable Pseudocode 일 정도이다  '

In [ ]:
from konlpy.tag import Okt
import re

web_text = '''Python은 학습용 언어이다.\r
실사용률과 생산성도 높은 언어이다.\r'''

web_text = re.sub(r'[^0-9a-zA-Z가-힣 \n]',r' ',web_text)

okt = Okt()
words = okt.pos(web_text)
print(words)

[('Python', 'Alpha'), ('은', 'Noun'), ('학습', 'Noun'), ('용', 'Noun'), ('언어', 'Noun'), ('이다', 'Josa'), ('실', 'Noun'), ('사용', 'Noun'), ('률', 'Noun'), ('과', 'Josa'), ('생산', 'Noun'), ('성도', 'Noun'), ('높은', 'Adjective'), ('언어', 'Noun'), ('이다', 'Josa')]

In [ ]:
text = "\x0b      아차 실수, 아차차 또 실수\x0c     "
print('text.lstrip()\t:',repr(text.lstrip()))
print('text.rstrip()\t:',repr(text.rstrip()))
print('text.strip()\t:',repr(text.strip()))

text.lstrip()	: '아차 실수, 아차차 또 실수\x0c     '
text.rstrip()	: '\x0b      아차 실수, 아차차 또 실수'
text.strip()	: '아차 실수, 아차차 또 실수'

문자열 비교

In [ ]:
3 == 3.0
3 > 3.1

In [ ]:
'A' == 'a'
'A' > 'a'
'a' > 'A'

In [ ]:
ord('a')
ord('A')

In [ ]:
'a'.lower() == 'A'.lower()
'a'.upper() == 'A'.upper()

In [ ]:
ord('가')
ord('라')
ord('아')
ord('하')
ord('히')
ord('힣')
'가' > 'z'

In [ ]:
bin(ord('a'))     # 이진수
oct(ord('a'))     # 팔진수
ord('가')         # 십진수
hex(ord('가'))    # 16진수

chr(0b1100001)    # 이진수
chr(0o141)        # 팔진수
chr(44032)        # 십진수
chr(0xac00)       # 16진수

In [ ]:
string_variable = 'Python C C++ Java'
'Python' in string_variable
'Python' not in string_variable
string_variable.startswith('python')
string_variable.endswith('java')

	문자열 포맷팅

In [ ]:
print(format(12345,'d'))
print(f'{12345:d}')
print(12345)

12345
12345
12345

In [ ]:
value=12345
print(format(value,'d'))
print(f'{value:d}')

print(format(value+1,'d'))
print(f'{value+1:d}')

12345
12345
12346
12346

In [ ]:
print(format(12345,'10d'))
print(f'{-12345:10d}')
print(format('문자열','10s'))
print(f'{"문자열":10s}')

     12345
    -12345
문자열
문자열

In [ ]:
print(format('좌측 정렬','<10s'))
print(f'{"우측 정렬":>10s}')
print(format('중앙 정렬','^10s'))

좌측 정렬
     우측 정렬
  중앙 정렬

In [ ]:
print(format(-12345,'10d'))
print(f'{12345:+10d}')

    -12345
    +12345

In [ ]:
print(format(12345,'10,d'))
print(f'{12345:10,d}')

    12,345
    12,345

In [ ]:
print('$'+format(12345,',d'))
print(f'\{12345:,d}')

$12,345
\12,345

In [ ]:
amount = 12345
pay_due = '2023-02-15'
print(f'지급일({pay_due})에 지급할 금액은 {amount:,d}원입니다.')
print(f'Format String은 \t, \n, \\, \', \" 등을 특수 문자로 인식합니다.')

지급일(2023-02-15)에 지급할 금액은 12,345원입니다.
Format String은 	,
, \, ', " 등을 특수 문자로 인식합니다.

In [1]:
print(f'f String에 {{ 그리고 }}와 같이 중괄호를 두번 사용하여 추가합니다.')

f String에 { 그리고 }와 같이 중괄호를 두번 사용하여 추가합니다.

In [ ]:
print(format(12345.67,'10.1f'))
print(f'{12345.67:10.3f}')
print(format(12345.67,'3.1f'))
print(f'{12345.67:.3f}')

   12345.7
 12345.670
12345.7
12345.670

In [ ]:
print(format(12345.67,'10.1e'))
print(f'{12345.67:10.7E}')
print(format(12345.67,'3.1e'))
print(f'{12345.67:.7E}')

   1.2e+04
1.2345670E+04
1.2e+04
1.2345670E+04

In [ ]:
print('$'+format(12345.67,'*>10,.2f'))
print(f'${12345.67:,.2f}')

$*12,345.67
$12,345.67